<table>
  
  <tr>
    <th> Name</th>
    <th> Birthday </th>
    <th> Color </th>
    <th> Sex </th>
    <th> Description </th>

  </tr>

  <tr>
    <td> <%= @cat.name %> </td>
    <td> <%= @cat.birth_date%> </td>
    <td> <%= @cat.color %> </td>
    <td> <%= @cat.sex %> </td>
    <td> <%= @cat.description %> </td>

  </tr>
  <!-- <h1><%= @cat.name %></h1>


  <h3>Birthday: <%= @cat.birth_date %></h3>
  <h3>Color: <%= @cat.color %></h3>
  <h3>Sex: <%= @cat.sex %></h3>
  <p>
    Description: <%= @cat.description %>
  </p> -->

</table>
